ADS -  1º CÍCLO/Introdução à Hardware/Programas/Geekbench-6.3.0-WindowsSetup.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/eclipse-inst-jre-win64.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/ideaIC-2024.3.5.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/Git-2.49.0-64-bit.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/jdk-23_windows-x64_bin.msi
ADS - 2º CÍCLO/Comun. & Exp/RENASCIMENTO AZUL - JOGO
ADS - 3º CICLO/Engenharia de Software II/Materiais/Aula Gravada ( Sequencial & Componentes ) - 07_11_2025/Aula - engenharia 2-20251107_152021-Gravação de Reunião.mp4
ADS - 3º CICLO/Engenharia de Software II/Materiais/Aula Gravada ( Sequencial & Componentes ) - 07_11_2025/Aula - engenharia 2-20251107_165058-Gravação de Reunião 1.mp4
ADS - 3º CICLO/SEMANA_TECNOLOGIA/COMO TRABALHAR PARA EMPRESAS GIGANTES DE CASA.txt
ADS - 3º CICLO/Sistemas Operacionais/APRESENTAÇÃO - THREADS/Threads - Sistemas Operacionais.pdf
ADS - 3º CICLO/VISITA TÉCNICA - T2S/Motivo de Saudade.jpg
ADS - 3º CICLO/VISITA TÉCNICA - T2S/Representante Viado.jpg
