ADS -  1º CÍCLO/Introdução à Hardware/Programas/Geekbench-6.3.0-WindowsSetup.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/eclipse-inst-jre-win64.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/ideaIC-2024.3.5.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/Git-2.49.0-64-bit.exe
ADS - 2º CÍCLO/Ling. de Programação - JAVA/Ferramentas/jdk-23_windows-x64_bin.msi
